@model PWEB_TP_A_M.Models.CentroTeste

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Centro Teste</h2>

<hr />
<div class="container">
    <div class="row" >
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vagas" class="control-label"></label>
                    <input asp-for="Vagas" class="form-control" />
                    <span asp-validation-for="Vagas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Localidade" class="control-label"></label>
                    <input asp-for="Localidade" class="form-control" />
                    <span asp-validation-for="Localidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Horario" class="control-label"></label>
                    <input asp-for="Horario" class="form-control" />
                    <span asp-validation-for="Horario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LimTestes" class="control-label"></label>
                    <input asp-for="LimTestes" class="form-control" />
                    <span asp-validation-for="LimTestes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tecnico" class="control-label"></label>
                    <input asp-for="Tecnico" class="form-control" />
                    <span asp-validation-for="Tecnico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnalisesId" class="control-label"></label>
                    <select asp-for="AnalisesId" class="form-control" asp-items="ViewBag.AnalisesId"></select>
                    <span asp-validation-for="AnalisesId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocalidadeId" class="control-label"></label>
                    <input asp-for="LocalidadeId" class="form-control" />
                    <span asp-validation-for="LocalidadeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TecnicosId" class="control-label"></label>
                    <input asp-for="TecnicosId" class="form-control" />
                    <span asp-validation-for="TecnicosId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>


    </div>
    <img src="https://img.trademed.com/images/news/articles/article_images/2017-07-17/SDD-252.jpg" alt="Paris" width="930" height="587" >
</div>
<style>
    img {
        border-radius: 50px;
        padding-right: 50px;
        opacity: 0.8;
      
    }

    img,.row{
        display: inline-block;
        display: inline-flex;
    }

    .container {
        display: flex;
        align-items:center;
        justify-content: space-between;
    }

    .form-control {
        width:100px;
        margin-left:50px;
        margin-right:150px;
    }

    .form-control:focus {
        background-color: Azure;
    }

</style>
<br />
<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
